
<div id="inventoryDiv">
    <table >
        <tr>
            <td><button class="glass" id="addDeletebutton">Add/Delete Product</button></td>
            <td><button class="glass" id="UpdatePrice">Update Price</button></td>
            <td><a [routerLink]= "['/viewproduct']"><button class="glass" id="viewProducts">View Products</button></a></td>
            <td><a [routerLink]= "['/viewuser']"><button class="glass" id="viewUsers">View Users</button></a></td>
        </tr>
        <tr>
            <td><Button class="glass">Stocks Management</Button></td>
            <td><Button class="glass">Suppliers Management</Button></td>
            <td><Button class="glass">Offers & Rewards Management</Button></td>
            <td><Button class="glass">Refund & Services Management</Button></td>
        </tr>
    </table>
</div>